<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <title>MUMB</title>
</head>

<body>





  <nav>
    <div class="nav-wrapper">
      <a href="/blog" class="brand-logo">MUMB</a>
      <ul id="nav-mobile" class="right">
        {% if user %}
        <li class="hide-on-med-and-down">({{user.name}})</li>
        <li><a class="link" href="/logout">Logout</a></li>
        <li><a class="link" href="/blog/newpost">New Post</a></li>
        {% else %}
        <li><a class="link" href="/login">Login</a></li>
        <li><a class="link" href="/signup">Signup</a></li>

        {% endif %}


      </ul>
    </div>
  </nav>


  <div id="content">
  {% if error %}
      <div>{{error}}</div>
  {% endif %}
  {% block content %}
  {% endblock %}
  </div>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

</body>

</html>
